extends layout

block title
  title Paperdocs - with aside

block brandname
  span.text Paperdocs - with aside

block content
  aside.loading(data-headers="h1, h2")
    ul
  
  article.loading(data-src="README.md")
