doctype html
html.initial
  head
    title Paperdocs
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='keywords' content='theme, documentation, picnic, picnic css, javascript')
    meta(name='description' content='A beautiful and highly responsible theme for documentation')
    meta(property='og:url' content='https://github.com/franciscop/paperdocs')
    meta(property='og:title' content='Paperdocs')
    // <meta property="og:image" content="http://umbrellajs.com/web/umbrella.png?1">
    meta(property='og:description' content='A beautiful and highly responsible theme for documentation')

    link(href='https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css' rel='stylesheet')
    block style
      link(href='../paperdocs.min.css' rel='stylesheet')

  block body
    body.homepage
      
      include nav
  
    block content

    block script
      script(src='../paperdocs.min.js')
    script(src="//localhost:35729/livereload.js")
