extends layout

block title
  title Paperdocs - eternal loading

block brandname
  span.text Paperdocs - eternal loading

block content
  article.loading
    h1 Eternal loading
    p And you cannot do anything to stop me mwahahahah
