nav.super
  a.brand(href='/paperdocs')
    i.logo.fa.fa-file-text-o
    block brandname
      span.text Paperdocs
  input#bmenu.show(type='checkbox')
  label.burger.pseudo.button.switch(for='bmenu')
  header
    strong Server.js
  .menu(data-headers='h1, h2')
    ul.flex.one
  footer
    .flex.three
      a.pseudo.button(href='http://francisco.io/paperdocs')
        i.fa.fa-desktop
        | Demo
      //- Space between the buttons
      = ' '
      a.pseudo.button(href='http://francisco.io/')
        i.fa.fa-user
        | Author
      = ' '
      a.button(href='https://github.com/franciscop/paperdocs', target='_blank')
        i.fa.fa-github-alt
        | Github
